### Dataset

In [4]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

First, columns names have been assigned to each column.

In [5]:
cols = ['sentiment','id','date','query_string','user','text']

In [6]:
df = pd.read_csv("./dataset/trainingandtestdata/training.1600000.processed.noemoticon.csv",header=None, names=cols)

In [7]:
df.head()

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [9]:
df.sentiment.value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

In [11]:
df.drop(['id','date','query_string','user'],axis=1,inplace=True)

In [12]:
df.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [13]:
df[df.sentiment == 0].head(10)

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....
5          0                      @Kwesidei not the whole crew
6          0                                        Need a hug
7          0  @LOLTrish hey  long time no see! Yes.. Rains a...
8          0               @Tatiana_K nope they didn't have it
9          0                          @twittera que me muera ?

In [14]:
df[df.sentiment == 4].head(10)

        sentiment                                               text
800000          4       I LOVE @Health4UandPets u guys r the best!!
800001          4  im meeting up with one of my besties tonight! ...
800002          4  @DaRealSunisaKim Thanks for the Twitter add, S...
800003          4  Being sick can be really cheap when it hurts t...
800004          4    @LovesBrooklyn2 he has that effect on everyone
800005          4  @ProductOfFear You can tell him that I just bu...
800006          4  @r_keith_hill Thans for your response. Ihad al...
800007          4  @KeepinUpWKris I am so jealous, hope you had a...
800008          4  @tommcfly ah, congrats mr fletcher for finally...
800009          4  @e4VoIP I RESPONDED  Stupid cat is helping me ...

In order for the computation, I mapped the class value of 4(positive) to 1.

In [17]:
df['sentiment'] = df['sentiment'].map({0: 0, 4: 1})

In [18]:
df.sentiment.value_counts()

1    800000
0    800000
Name: sentiment, dtype: int64

## Data Preparation

The order of the cleaning is 
1. Souping
2. BOM removing
3. url address('http:'pattern), twitter ID removing
4. url address('www.'pattern) removing
5. lower-case
6. negation handling
7. removing numbers and special characters
8. tokenizing and joining

In [34]:
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [39]:
#pat1 = r'@[A-Za-z0-9]+'
#pat2 = r'https?://[A-Za-z0-9./]+'
#combined_pat = r'|'.join((pat1, pat2))

pat1 = r'@[A-Za-z0-9_]+'
pat2 = r'https?://[^ ]+'
combined_pat = r'|'.join((pat1, pat2))
www_pat = r'www.[^ ]+'
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(combined_pat, '', bom_removed)
    stripped = re.sub(www_pat, '', stripped)
    lower_case = stripped.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]
    return (" ".join(words)).strip()

In [40]:
testing = df.text[:100]

In [41]:
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))

/anaconda2/lib/python2.7/encodings/utf_8_sig.py:19: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  if input[:3] == codecs.BOM_UTF8:

In [42]:
test_result

[u'awww that bummer you shoulda got david carr of third day to do it',
 u'is upset that he can not update his facebook by texting it and might cry as result school today also blah',
 u'dived many times for the ball managed to save the rest go out of bounds',
 u'my whole body feels itchy and like its on fire',
 u'no it not behaving at all mad why am here because can not see you all over there',
 u'not the whole crew',
 u'need hug',
 u'hey long time no see yes rains bit only bit lol fine thanks how you',
 u'nope they did not have it',
 u'que me muera',
 u'spring break in plain city it snowing',
 u'just re pierced my ears',
 u'could not bear to watch it and thought the ua loss was embarrassing',
 u'it it counts idk why did either you never talk to me anymore',
 u'would ve been the first but did not have gun not really though zac snyder just doucheclown',
 u'wish got to watch it with you miss you and how was the premiere',
 u'hollis death scene will hurt me severely to watch on film wry is directors cut not out now',
 u'about to file taxes',
 u'ahh ive always wanted to see rent love the soundtrack',
 u'oh dear were you drinking out of the forgotten table drinks',
 u'was out most of the day so did not get much done',
 u'one of my friend called me and asked to meet with her at mid valley today but ve no time sigh',
 u'baked you cake but ated it',
 u'this week is not going as had hoped',
 u'blagh class at tomorrow',
 u'hate when have to call and wake people up',
 u'just going to cry myself to sleep after watching marley and me',
 u'im sad now miss lilly',
 u'ooooh lol that leslie and ok will not do it again so leslie will not get mad again',
 u'meh almost lover is the exception this track gets me depressed every time',
 u'some hacked my account on aim now have to make new one',
 u'want to go to promote gear and groove but unfornately no ride there may going to the one in anaheim in may though',
 u'thought sleeping in was an option tomorrow but realizing that it now is not evaluations in the morning and work in the afternoon',
 u'awe love you too am here miss you',
 u'cry my asian eyes to sleep at night',
 u'ok sick and spent an hour sitting in the shower cause was too sick to stand and held back the puke like champ bed now',
 u'ill tell ya the story later not good day and ill be workin for like three more hours',
 u'sorry bed time came here gmt',
 u'do not either its depressing do not think even want to know about the kids in suitcases',
 u'bed class work gym or then class another day that gonna fly by miss my girlfriend',
 u'really do not feel like getting up today but got to study to for tomorrows practical exam',
 u'he the reason for the teardrops on my guitar the only one who has enough of me to break my heart',
 u'sad sad sad do not know why but hate this feeling wanna sleep and still can not',
 u'soo wish was there to see you finally comfortable im sad that missed it',
 u'falling asleep just heard about that tracy girl body being found how sad my heart breaks for that family',
 u'yay happy for you with your job but that also means less time for me and you',
 u'just checked my user timeline on my blackberry it looks like the twanking is still happening are ppl still having probs bgs and uids',
 u'oh man was ironing fave top to wear to meeting burnt it',
 u'is strangely sad about lilo and samro breaking up',
 u'oh so sorry did not think about that before retweeting',
 u'broadband plan massive broken promise via still waiting for broadband we are',
 u'wow tons of replies from you may have to unfollow so can see my friends tweets you re scrolling the feed lot',
 u'our duck and chicken are taking wayyy too long to hatch',
 u'put vacation photos online few yrs ago pc crashed and now forget the name of the site',
 u'need hug',
 u'not sure what they are only that they are pos as much as want to dont think can trade away company assets sorry andy',
 u'hate when that happens',
 u'have sad feeling that dallas is not going to show up gotta say though you think more shows would use music from the game mmm',
 u'ugh degrees tomorrow',
 u'where did move to thought were already in sd hmmm random found me glad to hear yer doing well',
 u'miss my ps it out of commission wutcha playing have you copped blood on the sand',
 u'just leaving the parking lot of work',
 u'the life is cool but not for me',
 u'sadly though ve never gotten to experience the post coitus cigarette before and now never will',
 u'had such nice day too bad the rain comes in tomorrow at am',
 u'too bad will not be around lost my job and can not even pay my phone bill lmao aw shucks',
 u'damm back to school tomorrow',
 u'mo jobs no money how in the hell is min wage here clams an hour',
 u'not forever see you soon',
 u'agreed saw the failwhale allllll day today',
 u'oh haha dude dont really look at em unless someone says hey added you sorry so terrible at that need pop up',
 u'sure you re right need to start working out with you and the nikster or jared at least',
 u'really hate how people diss my bands trace is clearly not ugly',
 u'gym attire today was puma singlet adidas shorts and black business socks and leather shoes lucky did not run into any cute girls',
 u'why will not you show my location',
 u'no picnic my phone smells like citrus',
 u'my donkey is sensitive about such comments nevertheless he and me be glad to see your mug asap charger is still awol',
 u'no new csi tonight fml',
 u'think my arms are sore from tennis',
 u'wonders why someone that like so much can make you so unhappy in split seccond depressed',
 u'sleep soon just hate saying bye and see you tomorrow for the night',
 u'just got ur newsletter those fares really are unbelievable shame already booked and paid for mine',
 u'missin the boo',
 u'me too itm',
 u'damn do not have any chalk my chalkboard is useless',
 u'had blast at the getty villa but hates that she had sore throat all day it just getting worse too',
 u'hey missed ya at the meeting sup mama',
 u'my tummy hurts wonder if the hypnosis has anything to do with it if so it working get it stop smoking',
 u'why is it always the fat ones',
 u'sorry babe my fam annoys me too thankfully they re asleep right now muahaha evil laugh',
 u'should have paid more attention when we covered photoshop in my webpage design class in undergrad',
 u'wednesday my day do not know what do',
 u'poor cameron the hills',
 u'pray for me please the ex is threatening to start sh at my our babies st birthday party what jerk and still have headache',
 u'hmm do really enjoy being with him if the problems are too constants should think things more find someone ulike',
 u'strider is sick little puppy',
 u'so rylee grace wana go steve party or not sadly since its easter wnt able do much but ohh well',
 u'hey actually won one of my bracket pools too bad it was not the one for money',
 u'you do not follow me either and work for you',
 u'bad nite for the favorite teams astros and spartans lose the nite out with was good']

In [43]:
nums = [0,400000,800000,1200000,1600000]

In [44]:
%%time
print "Cleaning and parsing the tweets...\n"
clean_tweet_texts = []
for i in xrange(nums[0],nums[1]):
    if( (i+1)%10000 == 0 ):
        print "Tweets %d of %d has been processed" % ( i+1, nums[1] )                                                                    
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 10000 of 400000 has been processed
Tweets 20000 of 400000 has been processed
Tweets 30000 of 400000 has been processed
Tweets 40000 of 400000 has been processed
Tweets 50000 of 400000 has been processed
Tweets 60000 of 400000 has been processed
Tweets 70000 of 400000 has been processed
Tweets 80000 of 400000 has been processed
Tweets 90000 of 400000 has been processed
Tweets 100000 of 400000 has been processed
Tweets 110000 of 400000 has been processed
Tweets 120000 of 400000 has been processed
Tweets 130000 of 400000 has been processed
Tweets 140000 of 400000 has been processed
Tweets 150000 of 400000 has been processed
Tweets 160000 of 400000 has been processed
Tweets 170000 of 400000 has been processed
Tweets 180000 of 400000 has been processed
Tweets 190000 of 400000 has been processed
Tweets 200000 of 400000 has been processed
Tweets 210000 of 400000 has been processed
Tweets 220000 of 400000 has been processed
Tweets 230000 of 400000 has been processed
Tweets 240000 of 400000 has been processed
Tweets 250000 of 400000 has been processed
Tweets 260000 of 400000 has been processed
Tweets 270000 of 400000 has been processed
Tweets 280000 of 400000 has been processed
Tweets 290000 of 400000 has been processed
Tweets 300000 of 400000 has been processed
Tweets 310000 of 400000 has been processed
Tweets 320000 of 400000 has been processed
Tweets 330000 of 400000 has been processed
Tweets 340000 of 400000 has been processed
Tweets 350000 of 400000 has been processed
Tweets 360000 of 400000 has been processed
Tweets 370000 of 400000 has been processed
Tweets 380000 of 400000 has been processed
Tweets 390000 of 400000 has been processed
Tweets 400000 of 400000 has been processed
CPU times: user 2min 25s, sys: 5.62 s, total: 2min 31s
Wall time: 2min 32s

In [45]:
len(clean_tweet_texts)

400000

In [46]:
%%time
print "Cleaning and parsing the tweets...\n"
for i in xrange(nums[1],nums[2]):
    if( (i+1)%10000 == 0 ):
        print "Tweets %d of %d has been processed" % ( i+1, nums[2] )                                                                    
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 410000 of 800000 has been processed
Tweets 420000 of 800000 has been processed
Tweets 430000 of 800000 has been processed
Tweets 440000 of 800000 has been processed
Tweets 450000 of 800000 has been processed
Tweets 460000 of 800000 has been processed
Tweets 470000 of 800000 has been processed
Tweets 480000 of 800000 has been processed
Tweets 490000 of 800000 has been processed
Tweets 500000 of 800000 has been processed
Tweets 510000 of 800000 has been processed
Tweets 520000 of 800000 has been processed
Tweets 530000 of 800000 has been processed
Tweets 540000 of 800000 has been processed
Tweets 550000 of 800000 has been processed
Tweets 560000 of 800000 has been processed
Tweets 570000 of 800000 has been processed
Tweets 580000 of 800000 has been processed
Tweets 590000 of 800000 has been processed
Tweets 600000 of 800000 has been processed
Tweets 610000 of 800000 has been processed
Tweets 620000 of 800000 has been processed
Tweets 630000 of 800000 has been processed
Tweets 640000 of 800000 has been processed
Tweets 650000 of 800000 has been processed
Tweets 660000 of 800000 has been processed
Tweets 670000 of 800000 has been processed
Tweets 680000 of 800000 has been processed
Tweets 690000 of 800000 has been processed
Tweets 700000 of 800000 has been processed
Tweets 710000 of 800000 has been processed
Tweets 720000 of 800000 has been processed
Tweets 730000 of 800000 has been processed
Tweets 740000 of 800000 has been processed
Tweets 750000 of 800000 has been processed
Tweets 760000 of 800000 has been processed
Tweets 770000 of 800000 has been processed
Tweets 780000 of 800000 has been processed
Tweets 790000 of 800000 has been processed
Tweets 800000 of 800000 has been processed
CPU times: user 2min 20s, sys: 4.76 s, total: 2min 25s
Wall time: 2min 25s

In [47]:
len(clean_tweet_texts)

800000

In [48]:
%%time
print "Cleaning and parsing the tweets...\n"
for i in xrange(nums[2],nums[3]):
    if( (i+1)%10000 == 0 ):
        print "Tweets %d of %d has been processed" % ( i+1, nums[3] )                                                                    
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 810000 of 1200000 has been processed
Tweets 820000 of 1200000 has been processed
Tweets 830000 of 1200000 has been processed
Tweets 840000 of 1200000 has been processed
Tweets 850000 of 1200000 has been processed
Tweets 860000 of 1200000 has been processed
Tweets 870000 of 1200000 has been processed
Tweets 880000 of 1200000 has been processed
Tweets 890000 of 1200000 has been processed
Tweets 900000 of 1200000 has been processed
Tweets 910000 of 1200000 has been processed
Tweets 920000 of 1200000 has been processed
Tweets 930000 of 1200000 has been processed
Tweets 940000 of 1200000 has been processed
Tweets 950000 of 1200000 has been processed
Tweets 960000 of 1200000 has been processed
Tweets 970000 of 1200000 has been processed
Tweets 980000 of 1200000 has been processed
Tweets 990000 of 1200000 has been processed
Tweets 1000000 of 1200000 has been processed
Tweets 1010000 of 1200000 has been processed
Tweets 1020000 of 1200000 has been processed
Tweets 1030000 of 1200000 has been processed
Tweets 1040000 of 1200000 has been processed
Tweets 1050000 of 1200000 has been processed
Tweets 1060000 of 1200000 has been processed
Tweets 1070000 of 1200000 has been processed
Tweets 1080000 of 1200000 has been processed
Tweets 1090000 of 1200000 has been processed
Tweets 1100000 of 1200000 has been processed
Tweets 1110000 of 1200000 has been processed
Tweets 1120000 of 1200000 has been processed
Tweets 1130000 of 1200000 has been processed
Tweets 1140000 of 1200000 has been processed
Tweets 1150000 of 1200000 has been processed
Tweets 1160000 of 1200000 has been processed
Tweets 1170000 of 1200000 has been processed
Tweets 1180000 of 1200000 has been processed
Tweets 1190000 of 1200000 has been processed
Tweets 1200000 of 1200000 has been processed
CPU times: user 2min 22s, sys: 5.19 s, total: 2min 27s
Wall time: 2min 29s

In [49]:
len(clean_tweet_texts)

1200000

In [50]:
%%time
print "Cleaning and parsing the tweets...\n"
for i in xrange(nums[3],nums[4]):
    if( (i+1)%10000 == 0 ):
        print "Tweets %d of %d has been processed" % ( i+1, nums[4] )                                                                    
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 1210000 of 1600000 has been processed
Tweets 1220000 of 1600000 has been processed
Tweets 1230000 of 1600000 has been processed
Tweets 1240000 of 1600000 has been processed
Tweets 1250000 of 1600000 has been processed
Tweets 1260000 of 1600000 has been processed
Tweets 1270000 of 1600000 has been processed
Tweets 1280000 of 1600000 has been processed
Tweets 1290000 of 1600000 has been processed
Tweets 1300000 of 1600000 has been processed
Tweets 1310000 of 1600000 has been processed
Tweets 1320000 of 1600000 has been processed
Tweets 1330000 of 1600000 has been processed
Tweets 1340000 of 1600000 has been processed
Tweets 1350000 of 1600000 has been processed
Tweets 1360000 of 1600000 has been processed
Tweets 1370000 of 1600000 has been processed
Tweets 1380000 of 1600000 has been processed
Tweets 1390000 of 1600000 has been processed
Tweets 1400000 of 1600000 has been processed
Tweets 1410000 of 1600000 has been processed
Tweets 1420000 of 1600000 has been processed
Tweets 1430000 of 1600000 has been processed
Tweets 1440000 of 1600000 has been processed
Tweets 1450000 of 1600000 has been processed
Tweets 1460000 of 1600000 has been processed
Tweets 1470000 of 1600000 has been processed
Tweets 1480000 of 1600000 has been processed
Tweets 1490000 of 1600000 has been processed
Tweets 1500000 of 1600000 has been processed
Tweets 1510000 of 1600000 has been processed
Tweets 1520000 of 1600000 has been processed
Tweets 1530000 of 1600000 has been processed
Tweets 1540000 of 1600000 has been processed
Tweets 1550000 of 1600000 has been processed
Tweets 1560000 of 1600000 has been processed
Tweets 1570000 of 1600000 has been processed
Tweets 1580000 of 1600000 has been processed
Tweets 1590000 of 1600000 has been processed
Tweets 1600000 of 1600000 has been processed
CPU times: user 2min 28s, sys: 4.95 s, total: 2min 33s
Wall time: 2min 33s

In [51]:
len(clean_tweet_texts)

1600000

### Saving cleaned data as csv

In [52]:
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df['target'] = df.sentiment
clean_df.head()

                                                text  target
0  awww that bummer you shoulda got david carr of...       0
1  is upset that he can not update his facebook b...       0
2  dived many times for the ball managed to save ...       0
3     my whole body feels itchy and like its on fire       0
4  no it not behaving at all mad why am here beca...       0

In [53]:
clean_df.to_csv('./dataset/clean_tweet.csv',encoding='utf-8')

In [56]:
csv = './dataset/clean_tweet.csv'
my_df = pd.read_csv(csv,index_col=0)
my_df.head()

/anaconda2/lib/python2.7/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                                text  target
0  awww that bummer you shoulda got david carr of...       0
1  is upset that he can not update his facebook b...       0
2  dived many times for the ball managed to save ...       0
3     my whole body feels itchy and like its on fire       0
4  no it not behaving at all mad why am here beca...       0